---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import MembersCard from "@/components/members/MembersCard.astro";
import allMembers from "@/content/members.json";

allMembers.sort((a, b) => {
  const nameA = a.name.toLowerCase();
  const nameB = b.name.toLowerCase();
  return nameA.localeCompare(nameB);
});
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-12">
      <Text
        tag="h1"
        variant="textBase"
        class="text-foreground font-medium text-balance"
      >
        Members
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="mt-2 font-medium text-muted-foreground"
      >
        Verified members who have agreed to the Charter and publicly stand
        behind original work.
      </Text>
      <div class="mt-2 divide-y divide-border border-t border-border">
        {allMembers.map((item) => <MembersCard item={item} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
