---
// Assets
import { Image } from "astro:assets";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
const { name, image, role } = {

  name: Astro.props.post.data.name,
  role: Astro.props.post.data.role,
  image: Astro.props.post.data.image.url,
};
---

<div class=" flex items-center gap-4 py-2">
  
  <Image
    src={image}
    alt={name}
    width={1000}
    height={1000}
    loading="lazy"
    decoding="async"
    class="size-8 rounded aspect-square object-cover object-center"
  />
  <div>
    <Text
      tag="h3"
      variant="textBase"
      class="font-medium tracking-tight text-muted-foreground"
    >
      {name}
    </Text>
    <Text tag="p" variant="textXS" class="text-muted-foreground">
      {role}
    </Text>
  </div>
</div>
