---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import DirectoryCard from "@/components/directory/DirectoryCard.astro";
import allEntries from "@/content/directory.json";

allEntries.sort((a, b) => {
  return a.name.localeCompare(b.name);
});
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-12">
      <Text
        tag="h1"
        variant="textBase"
        class="text-foreground font-medium text-balance"
      >
        Directory
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="mt-2 font-medium text-muted-foreground"
      >
        A public directory showing the current status of selected sellers,
        products, and creators tracked by Uicollective.
      </Text>

      <div class="mt-2 border-t border-border divide-y divide-border">
        {
          allEntries.length > 0 ? (
            allEntries.map((item) => <DirectoryCard item={item} />)
          ) : (
            <Text tag="p" variant="textSM" class="py-4 text-muted-foreground">
              No directory entries have been published yet.
            </Text>
          )
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
