---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import TrustedCard from "@/components/trusted/TrustedCard.astro";
const allTrusted = await getCollection("trusted");
allTrusted.sort((a, b) => {
  const nameA = a.data.name.toLowerCase();
  const nameB = b.data.name.toLowerCase();
  return nameA.localeCompare(nameB);
});
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-12">
      <Text
        tag="h1"
        variant="textBase"
        class="text-foreground font-medium text-balance"
      >
        Trusted members
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="mt-2 font-medium text-muted-foreground"
      >
        A growing group of designers, design engineers, and UI product makers
        who want to stand behind original work and be transparent about what
        they build.
      </Text>
      <div class="mt-2 divide-y divide-border border-t border-border">
        {allTrusted.map((post) => <TrustedCard post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
