---
import Text from "@/components/fundations/elements/Text.astro";
const { name, links } = Astro.props.item;
---

<div class="py-3">
  <Text
    tag="h2"
    variant="textXS"
    class="font-medium tracking-tight text-foreground"
  >
    {name}
  </Text>
  <Text tag="p" variant="textXS" class="mt-1 text-muted-foreground">
    {links.map((link) => link.label).join(" | ")}
  </Text>
</div>
