---
import Logo from "@/components/assets/Logo.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Text from "@/components/fundations/elements/Text.astro";

const links = [
  { href: "/members", label: "Members" },
];
---

<header class="sticky top-0 z-20 bg-background/90 backdrop-blur">
  <Wrapper variant="standard" class="py-4">
    <div class="flex gap-4 items-baseline justify-between">
      <a href="/" class="space-y-1">
        <Logo />
        <Text
          tag="span"
          variant="textSM"
          class="font-medium tracking-tight text-foreground"
        >
          Uicollective.org
        </Text>
      </a>

      <div class="flex flex-wrap items-center gap-3 lg:justify-end">
        {
          links.map((link) => (
            <a
              href={link.href}
              class="text-xs text-muted-foreground transition hover:text-foreground font-medium"
            >
              {link.label}
            </a>
          ))
        }
      </div>
    </div>
  </Wrapper>
</header>
